@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Syncopate:wght@700&family=Syne:wght@800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fffcf0;
}

@font-face {
    font-family: "Baunk";
    src: local("Baunk"), url("/public/assets/typos/Baunk.ttf") format("truetype");
}
@font-face {
    font-family: "Baunk-woff";
    src: local("Baunk"), url("/public/assets/typos/Baunk.woff") format("woff");
}
header,
.team,
.slide-nav {
    font-family: "Jura", sans-serif;
    color: #fffcf0;
}

header,
.team {
    font-family: "Syne";
    color: #fffcf0;
}

header {
    height: calc(100vh - 78px);
    width: 100%;
}
header nav {
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
}
header nav a svg {
    height: 50px;
}
header .header-container {
    height: calc(100vh - 78px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 78px;
    position: relative;
}
header .header-container .iimscape-texts {
    position: absolute;
    top: 8vh;
    border-top: solid 2px rgba(255, 211, 25, 0.2);
    border-bottom: solid 2px rgba(255, 211, 25, 0.2);
    font-size: 40px;
    padding: 0 40px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
}
header .header-container .iimscape-texts .texts {
    transform: translateX(-50%);
    animation: iimscape 15s infinite linear;
}
header .header-container .iimscape-texts span {
    text-transform: uppercase;
    color: #ffd319;
    margin: 0 16px;
    font-weight: 800;
    font-family: "Syne";
    letter-spacing: -2px;
    margin: 0 12px;
}
header .header-container .iimscape-texts span:nth-child(2n) {
    color: rgba(255, 252, 240, 0.5);
    -webkit-text-stroke: 1px #fffcf0;
    color: transparent;
    letter-spacing: 4px;
}
header .header-container .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 32px;
}
header .header-container .left h2 {
    font-size: 10vh;
    color: #fffcf0;
}
header .header-container .left h4 {
    width: 50%;
    font-size: 24px;
    font-family: "Jura";
}
header .header-container .left h4 a {
    position: relative;
}
header .header-container .left h4 a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #fffcf0;
    transition: 0.3s;
    transform-origin: right;
}
header .header-container .left h4 a:hover:before {
    transform: scaleX(0);
}
header .header-container .left h4 a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #fffcf0;
    transition: 0.3s;
    transform-origin: left;
    transform: scaleX(0);
    transition-delay: 0.1s;
}
header .header-container .left h4 a:hover:after {
    transform: scaleX(1);
}
header .header-container .left .blured-shape {
    background-color: #ffd319;
    filter: blur(120px);
    position: absolute;
    bottom: 20%;
    left: 20%;
    height: 10%;
    border-radius: 50%;
    aspect-ratio: 1;
    z-index: -1;
}
header .header-container .right {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}
header .header-container .right .char {
    height: 60vh;
}
header .header-container .right .blured-shape {
    background-color: #f72585;
    filter: blur(150px);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    height: 30%;
    border-radius: 50%;
    aspect-ratio: 1;
    z-index: -1;
}
header .header-container .scroll-indicator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: absolute;
    bottom: 2vh;
    left: calc(50% - 40px);
    width: 80px;
}
header .header-container .scroll-indicator-container .scroll-indicator {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    height: 8px;
    width: 12px;
    background-color: #fffcf0;
    animation: scroll-indicator-anim infinite 1.3s;
}
header .header-container .scroll-indicator-container .scroll-indicator:nth-of-type(2) {
    animation-delay: 0.075s;
}
header .header-container .scroll-indicator-container .scroll-indicator:nth-of-type(3) {
    animation-delay: 0.15s;
}
header .header-container .scroll-indicator-container span {
    text-transform: uppercase;
    margin-top: 4px;
    font-family: 'Jura';
}

@keyframes iimscape {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes scroll-indicator-anim {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        opacity: 1;
        transform: translateY(8px);
    }
    98% {
        transform: translateY(8px);
        opacity: 0;
    }
    99% {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
html, body {
    scroll-behavior: smooth;
}

body {
    background-color: #050400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 20vh; */
    max-width: 1400px;
    width: 100%;
}
body    .slide-nav {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(170px, -50%);
    background-color: transparent;
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 14% 100%, 14% 55%, 0 44%, 0 44%, 14% 21%);
    transition: 0.3s transform;
}
body    .slide-nav:hover {
    transform: translate(0, -50%);
}
body    .slide-nav:hover .ul-color ul li span {
    opacity: 1;
}
body    .slide-nav .ul-color {
    width: 100%;
    height: 100%;
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 14% 100%, 14% 55%, 0 44%, 0 44%, 14% 21%);
    padding: 32px;
    padding-left: 64px;
    background-color: #ffd319;
}
body    .slide-nav .ul-color ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: #ffd319;
}
body    .slide-nav .ul-color ul li {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 32px;
}
body    .slide-nav .ul-color ul li img {
    height: 32px;
    aspect-ratio: 1;
    object-fit: contain;
}
body    .slide-nav .ul-color ul li span {
    opacity: 0;
    transition: 0.2s opacity;
    transition-delay: 0.2s;
    font-weight: 900;
    color: #050400;
}
body    .slide-nav .colors {
    width: 100%;
    height: 352px;
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 14% 100%, 14% 55%, 0 44%, 0 44%, 14% 21%);
    position: relative;
}
body    .slide-nav .colors .color {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 14% 100%, 14% 55%, 0 44%, 0 44%, 14% 21%);
    top: 0;
    left: 0;
}
body    .slide-nav .colors .color1 {
    background-color: red;
    transform: translate(-3px, 3px);
}
body    .slide-nav .colors .color2 {
    transform: translate(-4px, 4px);
    background-color: lime;
}
body    .loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #050400;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
body   .loading img {
    height: 250px;
}
body   .team {
    min-height: 100vh;
    background-repeat: repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 64px;
    row-gap: 40px;
}
body    .team .person {
    width: 300px;
    height: 500px;
}
body    .team .person img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.indicesHidden {
    display: none;
}

/*# sourceMappingURL=globals.css.map */

.sub-title{
    font-size: 48px;
    color: #f72585;
    margin-top: 20vh;
}

/* #smoke {
	position: absolute;
	z-index: 3;
	width: 1px; 
    height: 160px;
	left: 120px;
    top: 313px;
} 


#smoke span { 
    display: block;
	position: absolute;
	bottom: -35px; 
    left: 50%;
    margin-left:-20px;
	height: 0px;
    width: 0px;
	border: 35px solid #4b4b4b;
	border-radius: 35px;
    opacity: 0;
	transform: scale(0.2);
} */

/* Smoke animation */

@keyframes smokeL {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(-20px, -130px) }
}

@keyframes smokeR {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(20px, -130px) }
}

#smoke .s0 { animation: smokeL 10s 0s infinite }
#smoke .s1 { animation: smokeR 10s 1s infinite }
#smoke .s2 { animation: smokeL 10s 2s infinite }
#smoke .s3 { animation: smokeR 10s 3s infinite }
#smoke .s4 { animation: smokeL 10s 4s infinite }
#smoke .s5 { animation: smokeR 10s 5s infinite }
#smoke .s6 { animation: smokeL 10s 6s infinite }
#smoke .s7 { animation: smokeR 10s 7s infinite }
#smoke .s8 { animation: smokeL 10s 8s infinite }
#smoke .s9 { animation: smokeR 10s 9s infinite }